* {
  box-sizing: border-box;
}

header {
  height: 200px;
  background-color: orange;
}

section {
  height: 300px;
  width: 100%;
  float: left;
  border: 3px solid green;
}

article {
  height: 300px;
  float: left;
  width: 33.333%;
  border: 3px solid red;
}

article + article {
  width: 66.6666%;
}

footer {
  height: 200px;
  background-color: pink;
  clear: both;
}
