/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}

.book {
  font-size: 1.2rem;
  line-height: 2.5rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
