* {
  box-sizing: border-box;
}

header {
  height: 200px;
  background-color: orange;
}

section {
  height: 300px;
  width: 33.3333%;
  float: left;
  border: 3px solid green;
}

article {
  height: 300px;
  width: 50%;
  float: left;
  border: 3px solid blue;
}

footer {
  height: 200px;
  background-color: pink;
  clear: both;
}
