/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  width: 100%;
  height: 1.8rem;
  background: black;
  color: white;
}
nav > * {
  float: left;
  display: block;
  width: 10%;
}

nav ul {
  width: 60%;
  margin: 0 2%;
}

#search {
  float: right;
  display: block;
  font-size: 1rem;
  margin: 0 2%;
  padding: 0.5% 1%;
}

nav select {
  width: 100%;
  background: black;
  color: white;
  border: 0;
  padding: 0.5% 1%;
}

main,
.substories > section {
  position: relative;
}

main > section {
  float: left;
  width: 50%;
  height: 250px;
  padding: 1% 1%;
}

main > section > section {
  width: 48%;
  height: 50%;
  padding: 1% 1%;
  margin: 1%;
  float: left;
}

.bottom-section section {
  float: left;
  width: 33.3333%;
  padding: 0 1%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

nav ul li {
  float: left;
  border: 1px solid lightgray;
  padding: 0.5% 1%;
  font-size: 1rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.5% 1%;
}

nav li a {
  text-align: center;
  width: 100%;
}

.logo {
  height: 1.8rem;
  border: 1px solid lightgray;
}

.signin-logo {
  height: 1.8rem;
  width: 1.8rem;
}

main {
  padding: 5px;
}

.title {
  float: left;
  font-size: 1.5rem;
  color: #666;
}

.date {
  float: right;
  font-size: 1.5rem;
  color: gray;
  font-weight: 100;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 0.9rem;
}

.bottom-section h2 {
  border-left: 2px solid red;
  padding-left: 0.5%;
  margin-left: 0.5%;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

.bottom-section section img {
  width: 100%;
}

.category {
  text-transform: uppercase;
  color: gray;
  border-left: 1px solid red;
  padding-left: 4px;
}

.story1 {
  background-image: url('../middle-east.png');
  background-size: cover;
  position: relative;
}

.bottom div {
  position: absolute;
  bottom: 10px;
}

.story2 {
  background-image: url('../usa.png');
  background-size: cover;
}

.story3 {
  background-image: url('../vaccine.png');
  background-size: cover;
}

.story4 {
  background-image: url('../gym.png');
  background-size: cover;
}

.story5 {
  background-image: url('../folk.png');
  background-size: cover;
}

main section {
  color: white;
}

main section .category {
  color: white;
}

@media all and (max-width: 600px) {
  .bottom-section section {
    float: left;
    width: 95%;
    padding: 0 1%;
  }

  main > section {
    width: 100%;
  }
}
