/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}

form {
  font-size: 1.4rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.book {
  line-height: 2rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.book span {
  font-weight: 500;
}
