/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}

#info {
  display: grid;
  width: 300px;
  grid-template-columns: 1fr 2fr;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
