/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

form {
  display: flex;
  flex-direction: column;
}

form > * {
  padding: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
