:root {
  --main-green: #48ce31;
}

body {
  background-color: #87cfec;
  margin: auto;
  border: 5px solid var(--main-green);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  margin: 30px;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  font-weight: 700;
  padding: 0 5px;
}

nav {
  text-align: center;
}

h1 {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
}

a {
  color: var(--main-green);
  font-weight: 700;
}

a:hover {
  color: orange;
}

.logo {
  height: 200px;
  float: right;
}

li + li {
  border-left: 2px solid #818384;
}
